@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: "GongGothicMedium";
  src: url("https://d2k6w3n3qf94c4.cloudfront.net/font/Gong_Gothic_Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GongGothicLight";
  src: url("https://d2k6w3n3qf94c4.cloudfront.net/font/Gong_Gothic_Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  word-break: keep-all;
  user-select: none;
}

.p-side {
  padding-left: 20px;
  padding-right: 20px;
}

.m-full {
  margin-left: -20px;
  margin-right: -20px;
}

body,
button {
  font-family: "GongGothicMedium";
  font-weight: 500;
  background-color: #ececec;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 5px 16px;
  font-size: 20px;
  line-height: 1.7;
  border-radius: 10px;
}

.ls-lg {
  letter-spacing: 3px;
}

.bg-point {
  background-color: #f4e4e6;
}

.btn-point {
  color: #fff;
  background-color: #4f4f4f;
  border-color: #4f4f4f;
}

.btn-point:hover {
  color: #fff;
  background-color: #4f4f4f;
  border-color: #4f4f4f;
}

.btn_row {
  padding-left: 20px;
  padding-right: 20px;
}

.button_inner {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.button_inner img {
  height: 100%;
  width: auto;
}

.sponsor_zone {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: transparent;
  color: white;
  padding: 0 10px;
  user-select: none;
}

#logo_inner {
  display: none;
}

#start_inner {
  background-color: white;
}

#start_inner .test_image_row {
  position: relative;
}

#start_inner .test_image_row .image_col {
  background-color: white;
}

#start_inner .test_image_row h1 {
  position: absolute;
  z-index: -1;
}

#start_inner .sponsor_col {
  margin-left: auto;
  margin-right: auto;
}

#start_inner #main_image {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  height: auto;
  max-width: 360px;
}

#start_inner .title_row h2 {
  color: #4f4f4f;
  font-weight: 700;
  line-height: 24px;
  font-size: 24px;
  user-select: none;
}

#start_inner .title_row h1 {
  line-height: 32px;
  font-size: 32px;
  width: 100%;
  color: #333333;
  font-weight: bold;
  user-select: none;
}

#start_inner #test_start {
  border: 2px solid #000000;
  background-color: #4f4f4f;
  width: 100%;
  border-radius: 8px;
  font-family: "GongGothicMedium";
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-weight: normal;
  font-style: normal;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: -20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
}

#start_inner #test_share_button {
  width: 42px;
  height: 42px;
  border-radius: 5px;
}

#start_inner #test_view {
  font-family: "GongGothicLight";
  font-size: 15px;
  line-height: 15px;
}

.question_inner {
  font-family: "GongGothicMedium";
  display: none;
  background-color: white;
}

.question_inner .title_row .question_number {
  font-weight: normal;
  font-size: 40px;
  user-select: none;
  text-align: center;
}

.question_inner .title_row .question_content {
  font-weight: bold;
  line-height: 1.4;
  font-size: 25px;
  user-select: none;
  text-align: center;
  word-break: keep-all;
}

.question_inner .answer_button {
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: "GongGothicLight";
  font-size: 18px;
  border-radius: 8px;
  color: black;
  background-color: #e0e0e0;
  border: 2px solid black;
  word-break: keep-all;
  margin-bottom: 20px;
}

.question_inner .badge-order {
  font-size: 16px;
  text-align: center;
}

.question_inner .progress_bar {
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #ebebeb;
}

.question_inner #progress_gauge {
  width: 0%;
  height: 2px;
  border-radius: 1px;
  background-color: #4f4f4f;
}

#loading_inner {
  font-family: "GongGothicLight";
  display: none;
  font-size: 15px;
  line-height: 24px;
  color: #4f4f4f;
  letter-spacing: normal;
  background-color: white;
}

#loading_inner #loading_image1 {
  width: 20%;
  height: auto;
  margin-left: auto;
  margin-right: -10px;
  margin-top: 20px;
  margin-bottom: 40px;
}

#loading_inner #loading_image2 {
  width: 20%;
  height: auto;
  margin-top: auto;
  margin-bottom: 0;
}

#loading_inner #loading_image3 {
  width: 20%;
  height: auto;
  margin-left: -10px;
  margin-right: auto;
  margin-bottom: 60px;
}

#loading_inner .fade_anime {
  width: 6px;
  height: 6px;
  border-radius: 999px;
  opacity: 0;
  align-self: center;
  margin: 15px 0;
}

#loading_inner .dot_color1 {
  background-color: #e0e0e0;
  margin-left: auto;
  margin-right: 10px;
}

#loading_inner .dot_color2 {
  background-color: #828282;
}

#loading_inner .dot_color3 {
  background-color: #333333;
  margin-left: 10px;
  margin-right: auto;
}

#result_container {
  font-family: "GongGothicMedium";
  position: relative;
  background-color: white;
  padding-bottom: 73px;
}

#result_container .title_row {
  background-color: white;
  position: relative;
  margin-bottom: 0px;
}

#result_container .title_row .title_inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 7px 0 7px 0;
  z-index: 1;
}

#result_container .title_row h2 {
  color: #4f4f4f;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: normal;
  margin-bottom: 10px;
}

#result_container .title_row h1 {
  font-size: 30px;
  line-height: 35px;
}

#result_container .image_row {
  background-color: white;
}

#result_container .image_row img {
  width: 310px;
  height: 310px;
  margin-left: auto;
  margin-right: auto;
}

#result_container .result_row {
  background-color: white;
  font-size: 20px;
}

#result_container .result_row .result_col {
  position: relative;
  border: 2px solid black;
  border-radius: 12px;
}

#result_container .result_row .result_col a {
  font-size: 14px;
  font-family: "GongGothicLight";
  color: #3e82f8;
  text-decoration: underline;
  margin-left: 20px;
}

#result_container .result_row .result_col ul {
  margin: 0;
}

#result_container .result_row .result_col .result {
  user-select: none;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0;
  margin-left: -20px;
}

#result_container .result_row .result_col .result_content {
  padding-bottom: 12px;
  color: #4f4f4f;
  font-family: "GongGothicLight";
}

#result_container .letter_row {
  border: 2px solid black;
  margin: 0 20px;
}

#result_container .letter_row .letter_title_col {
  background-color: #4f4f4f;
  color: white;
  font-size: 16px;
  font-weight: 300;
}

#result_container .letter_row .letter_title_col img {
  height: 100%;
}

#result_container .letter_row .letter_content_col {
  color: #4f4f4f;
  font-family: "GongGothicLight";
  font-size: 14px;
}

#result_container .letter_row .logo_col {
  opacity: 0;
}

#result_container .letter_row #letter_logo_snek {
  height: 70px;
  width: auto;
}

#result_container .ad_btn {
  width: 100%;
  border: 2px solid black;
  border-radius: 8px;
}

#result_container .floating_wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #828282;
}

#result_container .floating_wrapper .retry,
#result_container .floating_wrapper #native_share {
  width: 100%;
  border-radius: 999px;
  border: solid 2px #ffffff;
  font-size: 20px;
  color: white;
  background-color: #828282;
}

.share_row .share_col .btn.share {
  padding: 0;
  margin: 0 2px;
  cursor: pointer;
}

.share_modal {
  padding: 15px;
}

.share_modal .title_row h3 {
  color: #4f4f4f;
}
